# jupyter notebook files
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# emacs temporary files
*.*~

# pycharm files
.idea

# misc
__pycache__
*.json
*.lic
*.dll
*.xml
*.tif
*.tiff
conversion/multscale_omezarr.py
conversion/zarr_2_omezarr.py
